<!-- -*- web -*- -->
{% extends "base_template.html" %}

{% block title %}
<title>
    Appointment Ticket : {{ appointment.id }}
</title>
{% endblock %}
{% block content %}
<div class="row">
    <h1>Appointment Time</h1>
</div>
<div class="row">
    <h3>
        {{ appointment.familieName|title }}{% if appointment.surName is not None %}, {{ appointment.surName|title }}
        {% endif %}
    </h3>
</div>
<div class="row">
    <div class="container-fluid">
        <form action="{% url 'app-post-detail' appointment.id %}" method="post">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="famName">Family Name</label>
                    <input type="text" class="form-control" id="famName" value="{{ appointment.familieName|title }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="nickName">Nickame</label>
                    <input type="text" class="form-control" id="nickName" value="{{ appointment.nickName|default_if_none:""|title }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="surName">Surname</label>
                    <input type="text" class="form-control" id="surName" value="{{ appointment.surName|default_if_none:""|title }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="apptDate">Appointment Date</label>
                    <input type="date" class="form-control" id="apptDate" value="{{ appointment.appointmentDate|date:"Y-m-d" }}">
                </div>
                <div class="form-group col-md-6">
                    <label for="apptTime">Appointment Time</label>
                    <input type="time" class="form-control" id="apptTime" value="{{ appointment.appointmentDate|date:"H:i" }}">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h6>Last Updated:</h6>
            </div>
            <div class="col-sm-9">
                {{ appointment.lastUpdatedDate|date:"Y-m-d, H:i" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h6>Ticket Creation Date:</h6>
            </div>
            <div class="col-sm-9">
                {{ appointment.creationDate|date:"Y-m-d, H:i" }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
