<!-- -*- web -*- -->
{% extends "base_template.html" %}

{% block title %}
<title>
    Appointment Ticket : {{ appointment.id }}
</title>
{% endblock %}
{% block content %}
<div class="row">
    <h1>Appointment Time</h1>
</div>
<div class="row">
    <h3>
        {{ appointment.familieName|title }}{% if appointment.surName is not None %}, {{ appointment.surName|title }}
        {% endif %}
    </h3>
</div>
<div class="row">
    <div class="container-fluid">
        <form action="{% url 'app-post-detail' appointment.id %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="famName">Family Name</label>
                    <input type="text" class="form-control" id="famName" maxlength="200" name="familyname" value="{{ appointment.familieName|title }}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="nickName">Nickame</label>
                    <input type="text" class="form-control" id="nickName" maxlength="200" name="nickname" value="{{ appointment.nickName|default_if_none:""|title }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="surName">Surname</label>
                    <input type="text" class="form-control" id="surName" maxlength="200" name="surname" value="{{ appointment.surName|default_if_none:""|title }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="apptDate">Appointment Date</label>
                    <input type="date" class="form-control" id="apptDate" name="date" value="{{ appointment.appointmentDate|date:"Y-m-d" }}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="apptTime">Appointment Time</label>
                    <input type="time" class="form-control" id="apptTime" name="time" value="{{ appointment.appointmentDate|date:"H:i" }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="caseType">Type of Case</label>
                    <input type="text" class="form-control" id="caseType" maxlength="200" name="case" value="{{ appointment.caseType }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="telNum">Contact Phone</label>
                    <input type="telephone" class="form-control" id="telNum" maxlength="200" name="phone" value="{{ appointment.phoneContact|default_if_none:"" }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="addr">Home Address</label>
                    <input type="text" class="form-control" id="addr" maxlength="200" name="address" value="{{ appointment.address|default_if_none:"" }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="nextRoom">Next Appointed Room</label>
                    <input type="text" class="form-control" id="nextRoom" maxlength="200" name="room" value="{{ appointment.nextRoom|default_if_none:"-" }}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label for="status">Ticket Status</label>
                    <select id="status" name="stats">
                        {% for x, y in appointment.get_status %}
                        <option value="{{ x }}"{% if appointment.status == x %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" id="maleSelection" value="m" {% if appointment.genderMale %} checked {% endif %}>
                        <label class="form-check-label" for="maleSelection">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" id="femaleSelection" value="f" {% if not appointment.genderMale %} checked {% endif %}>
                        <label class="form-check-label" for="femaleSelection">Female</label>
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="hidenApp" name="hide" {% if appointment.hidden %} checked {% endif %}>
                        <label class="custom-control-label" for="hidenApp">Hide from list</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="desc">Notes and Description</label>
                    <input type="text" class="form-control input-large" id="desc" name="desc" value="{{ appointment.description }}">
                </div>
            </div>




            <div class="form-row">
                <div class="form-group col-sm-12 text-right">
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <input class="btn btn-secondary" type="reset" value="Reset">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h6>Last Updated:</h6>
            </div>
            <div class="col-sm-9">
                {{ appointment.lastUpdatedDate|date:"Y-m-d, H:i" }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h6>Ticket Creation Date:</h6>
            </div>
            <div class="col-sm-9">
                {{ appointment.creationDate|date:"Y-m-d, H:i" }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
